/* pages/page.css */
html, body {
    margin: 0;
    padding: 0;
    background-color: #000000; /* 背景色を黒に設定 */
    color: #FFFFFF; /* 全体のテキスト色を白に設定 */
    font-family: Arial, sans-serif; /* フォントスタイル */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #FFFFFF; /* 境界線を白に設定 */
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8); /* 背景色を半透明の白に設定 */
    color: #000000; /* テキスト色を黒に設定 */
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    width: calc(33.333% - 20px);
    border: 1px solid #FFFFFF; /* 境界線を白に設定 */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8); /* カードの背景色を半透明の白に設定 */
    transition: transform 0.3s, opacity 0.3s; /* トランジション効果を追加 */
  }
  
  .card:hover {
    transform: scale(1.05); /* ホバー時にカードを少し大きくする */
    opacity: 1; /* ホバー時に透明度を上げる */
  }
  
  .category-filters {
    margin-bottom: 20px;
  }
  
  .category-filters label {
    margin-right: 10px;
    color: #FFFFFF; /* ラベルのテキスト色を白に設定 */
  }
  
  .category-filters input[type="checkbox"] {
    accent-color: #457b9d;
  }
  
  /* レスポンシブデザイン */
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%;
    }
  }
  